<div class="container-fluid">
  <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Usuarios</a>
          <a class="nav-link" href="#">Clientes</a>
          <a class="nav-link" href="http://localhost:4200/producto/crear">Productos</a>
          <a class="nav-link" href="http://localhost:4200/pedido/grillaPedidos">Grilla de Pedidos</a>
          <a class="nav-link" href="http://localhost:4200/pedidoDetalle/formulario">Detalle Pedidos</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="router"><router-outlet></router-outlet></div>
</div>
