<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">ProductoId</label>
    <input type="text" class="form-control" id="productId">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Cantidad</label>
    <input type="text" class="form-control" id="quantity">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Precio</label>
    <input type="text" class="form-control" id="price" placeholder="$">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Agregar Item</button>
  </div>
</form>